.capa__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0% 10%;
    align-items: center;
    justify-content: center;
}

.capa-informations__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.capa-title__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    animation: moveInUp 1s ease-in-out;
}

.capa-title {
    font-size: 6rem;
    text-align: left;
    font-weight: 500;
}

.capa-image__container {
    width: 100%;
    animation: moveInUp 1s ease-in-out;
}

.capa-image__container > img {
    width: 100%;
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 480px) {
    .capa-informations__container {
        grid-template-columns: 1fr;
    } 

    .capa-image__container {
        width: 100%;
        animation: moveInUp 1s ease-in-out;
        order: 1;
    }

    .capa-title__container {
        width: 100%;
        gap: 1rem;
        align-items: center;
        animation: moveInUp 1s ease-in-out;
        order: 2;
    }


    .capa-title {
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
    }
}