body {
    font-family: Poppins;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.6rem;
}



.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0, .2);
}

.btn-white {
    background-color: white;
    color: #777;
}

.btn-blue {
    background-color: #6C63FF;
    color: white;
}
.btn-blue >  svg {
    width: 2rem;
    fill: white;
}



.btn::after  {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;;
}

.btn-white::after {
    background-color: white;
}

.btn-blue::after {
    background-color: #6C63FF;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}