/*======= VERSÃO PARA DESKTOP ================*/


.navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
    background: transparent;
}

.navbar-logo {
    width: 100%;
}

.navbar-logo a img {
    width: 20%;
}


ul {
    display: flex;
    flex-direction: row;

    list-style: none;

    gap: 30px;
}

ul li a {
    text-decoration: none;
}



/*======= VERSÃO PARA MOBILE ================*/

