{% extends 'base.html' %}


{% block body %}
    <main class="w-full pr-[10%] pl-[20%] max-[480px]:px-[10%]">
        <section class="flex h-screen w-full justify-center items-center">
            <div style="background-color: #b1adff2d;"  class="flex flex-col  gap-[50px] p-[4rem] rounded-lg  text-center max-[480px]:items-center max-[480px]:p-[4rem] max-[480px]:mt-[-85px] max-[480px]:w-full">
                <h1 class="font-bold text-[40px] max-[480px]:text-[15px]">Qualquer dúvida ou erro mande um e-mail para lucasluisouza@gmail.com 😉</h1>
            </div>
        </section>
    </main>
    
{% endblock %}