{% extends 'base.html' %}

{% block body %}

<main>
    <section class="flex flex-row  w-full h-screen justify-center items-center">
        <form style="background-color: #b1adff2d;" method="POST" action="" class="flex flex-col shadow-lg gap-[50px] p-[4rem]  rounded-lg" enctype="multipart/form-data">
            {{ form_coment.csrf_token }}

            <legend style="font-family: Quicksand; font-weight: 700;" class="text-[40px] text-center">Criar Comentario</legend>

            <fieldset class="flex flex-col gap-[30px]">
                <div style="font-family: Quicksand; font-weight: 500;" class="flex flex-col gap-[10px]">
                    {{ form_coment.corpo.label(class='form-control-label') }}
                    {% if form_coment.corpo.errors %}
                        {{ form_coment.corpo(class='form-control is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form_coment.corpo.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form_coment.corpo(class='px-[15px] h-[70px] w-[550px] border-[2px] rounded-lg') }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="flex justify-center gap-[30px]">
                
                {{ form_coment.botaoSubmitCriarComentario(class='bg-[#6C63FF] hover:bg-[#4941FF] duration-150 cursor-pointer w-[250px] rounded-lg p-[10px] text-white text-[18px]') }}
            </div>
        </form>
        
        <img width="900px" src="https://cdn.discordapp.com/attachments/965066624556232737/1088959589170544740/undraw_Public_discussion_re_w9up.png" alt="">
        
    </section>
</main>

{% endblock%}