{% extends 'base.html' %}


{% block body %}


<main>
    <section class="flex flex-row gap-[30px] pr-[10%] pl-[20%] py-[3%] w-full  justify-center items-center">
        <figure class="w-[50%]">
            <img class="w-full" src="{{ url_for('static', filename='Binary code-pana.svg') }}" alt="">
        </figure>
        
        <form method="POST" action="" class="flex flex-col w-[50%] gap-[50px] p-[2rem] rounded-lg" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <legend  class="text-[40px] font-bold text-left">Editar Perfil</legend>

            <fieldset class="flex flex-col gap-[20px]">

                <div class="flex flex-col gap-[10px]">
                    {{ form.username.label(class='font-semibold') }}
                    {% if form.username.errors %}
                        {{ form.username( class='form-control is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class='px-[15px] h-[40px] w-full border-none bg-[#EAF0F7] rounded-lg max-[400px]:w-full', placeholder='Digite sua senha aqui') }}
                    {% endif %}
                </div>

                <div class="flex flex-col gap-[10px]">
                    {{ form.email.label(class='font-semibold') }}

                    {% if form.email.errors %}
                        {{ form.email(class='form-control is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='px-[15px] h-[40px] w-full border-none bg-[#EAF0F7] rounded-lg max-[400px]:w-full', placeholder='Digite sua senha aqui') }}
                    {% endif %}

                    
                </div>

                <div class="flex flex-col gap-[10px]">
                    {{ form.areaAtuacao.label(class='font-semibold') }}

                    {% if form.email.errors %}
                        {{ form.areaAtuacao(class='form-control is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.areaAtuacao(class='px-[15px] h-[40px] w-full border-none bg-[#EAF0F7] rounded-lg max-[400px]:w-full', placeholder='Digite sua senha aqui') }}
                    {% endif %}

                    
                </div>
                
                <div class="flex flex-col gap-[10px]">
                    {{ form.foto_perfil.label(class='font-semibold')}}
                    {{ form.foto_perfil(class='form-control-file')}}
                    {% if form.foto_perfil.errors %}
                        {% for error in form.foto_perfil.errors %}
                            <pan class="text-danger">{{ error }}</pan>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div  class="flex flex-col gap-[10px] w-[100%]">
                    <p class="font-semibold">Tecnologias</p>
                    <div class="grid grid-cols-4  gap-[30px]">
                        {% for campo in form %}
                            {% if 'tech_' in campo.name %}
                                <div class="form-group">
                                    {{ campo(class='rounded-lg') }}
                                    {{ campo.label }}
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                    
                </div>
                
            </fieldset>
            <div class="flex justify-center">
                {{ form.botaoSubmitEditarPerfil(class='bg-[#6C63FF] font-semibold hover:bg-[#4941FF] duration-150 cursor-pointer rounded-full px-[45px]  py-[13px]   text-white text-center text-[18px]') }}

            </div>
        </form>
    </section>
</main>
            
            
                
                
            






{% endblock %}