{% extends 'base.html' %}

{% block body %}

<main>
    <section class="flex h-screen w-full justify-center items-center">
        <div style="background-color: #b1adff2d;"  class="flex flex-col gap-[50px] p-[4rem] rounded-lg  text-center">
            <h1 style="font-family: Quicksand; font-weight: 700;" class="text-[40px]">Email enviado ✅</h1>
            <h2  style="font-family: Quicksand; font-weight: 500;" class="text-[27px]">
                Por favor confira sua caixa de entrada e acesse o link para mudar sua senha de acesso
            </h2>
        </div>
    </section>
</main>


{% endblock %}