{% extends 'base.html' %}

{% block body %}

<main>
    <section class="flex flex-row gap-[180px] w-full h-screen justify-center items-center
    max-[400px]:px-[15px] max-[400px]:flex-col max-[400px]:gap-[0px] max-[400px]:mt-[170px]">

        <form style="background-color: #b1adff2d;" method="POST" action="" class="flex flex-col shadow-lg gap-[50px] p-[4rem] rounded-lg
        max-[400px]:w-full max-[400px]:p-[2rem]">

            {{ formLogin.csrf_token }}
            <legend style="font-family: Quicksand; font-weight: 700;" class="text-[40px] text-center max-[400px]:text-[29px] ">Login</legend>

            <fieldset class="flex flex-col gap-[30px]">
                <div style="font-family: Quicksand; font-weight: 500;" class="flex flex-col gap-[10px]">
                    {{ formLogin.email.label(class='form-control-label') }}

                    {% if formLogin.email.errors %}
                        {{ formLogin.email(class='form-control is-invalid') }}
                        
                        <div class="invalid-feedback">
                            {% for error in formLogin.email.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formLogin.email(class='px-[15px] h-[40px] w-[450px] border-[2px] rounded-lg max-[400px]:w-full ') }}
                    {% endif %}

                    
                </div>
                <div style="font-family: Quicksand; font-weight: 500;" class="flex flex-col gap-[10px]">                        
                    {{ formLogin.senha.label(class='form-control-label') }}
                    {% if formLogin.senha.errors %}
                        {{ formLogin.senha(class='form-control is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in formLogin.senha.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formLogin.senha(class='px-[15px] h-[40px] w-[450px] border-[2px] rounded-lg max-[400px]:w-full') }}
                    {% endif %}
                </div>
                

                <div class="flex flex-row gap-[20px] text-[#6C63FF] justify-between 
                max-[400px]:w-full">
                    <a class="max-[400px]:text-[15px]" href="{{ url_for('recuperarSenha') }}">Esqueceu a Senha?</a>
                    <a class="max-[400px]:text-[15px]" href="{{ url_for('criarConta') }}">Ainda não possui conta?</a> 
                </div>
                
            </fieldset>
            <div class="flex items-center justify-center">
                {{ formLogin.botaoSubmitLogin(class='bg-[#6C63FF] hover:bg-[#4941FF] duration-150 cursor-pointer w-[150px] rounded-full p-[10px] text-white text-[18px]') }}
            </div>
            
        </form>
        <div  class="max-[400px]:invisible" >
            <img width="700px" class="max-[400px]:invisible" src="../static/undraw_outer_space_re_u9vd.svg" alt="">
        </div>
    </section>
</main>
        
                
   
     
{% endblock %}