{% extends 'base.html' %}

{% block body %}

<main class="">
    <section class="">

        <form  method="POST" action="" class="">

            {{ formLogin.csrf_token }}
            <legend  class="">Login</legend>

            <fieldset class="">
                <div class="">

                    {% if formLogin.email.errors %}
                        {{ formLogin.email(class='form-control is-invalid') }}
                        
                        <div class="invalid-feedback">
                            {% for error in formLogin.email.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formLogin.email(class=' ', placeholder='Digite seu e-mail aqui') }}
                    {% endif %}

                    
                </div>
                <div class="">                        
                    {% if formLogin.senha.errors %}
                        {{ formLogin.senha(class='form-control is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in formLogin.senha.errors %}
                                {{ error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formLogin.senha(class='', placeholder='Digite sua senha aqui') }}
                    {% endif %}
                </div>
                

                <div class="">
                    <a class="" href="{{ url_for('recuperarSenha') }}">Esqueceu a Senha?</a>
                    <a class="" href="{{ url_for('criarConta') }}">Ainda não possui conta?</a> 
                </div>
                
            </fieldset>
            <div class="">
                {{ formLogin.botaoSubmitLogin(class='') }}
            </div>
            
        </form>
        <div  class="" >
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="">
        </div>
    </section>
</main>
        
                
   
     
{% endblock %}