{% extends 'base.html' %}


{% block body %}

{% if meus_posts %}
<main class="flex flex-col gap-[5rem] justify-center max-[480px]:gap-[0.5rem] max-[480px]:mt-[3rem]">

{% else %}

<main class="flex flex-col gap-[5rem] justify-center h-screen ">
{% endif %}

    <section class="flex flex-col pr-[10%] pl-[20%] justify-center items-center mt-[50px] max-[480px]:px-[10%]">
        <div class="flex flex-row rounded-lg w-[80%] justify-start pt-[10rem] max-[480px]:w-full max-[480px]:pt-[0rem]">

            <div class="w-full  px-[80px] pb-[20px] z-10 max-[480px]:px-[0px] max-[480px]:flex  max-[480px]:flex-col max-[480px]:items-center">
                <span class="bg-[#6C63FF] rounded-lg w-full text-[#6C63FF] max-[480px]:h-[150px]">.</span>

                <div class="flex flex-row justify-between max-[480px]:flex-col max-[480px]:mt-[-130px] max-[480px]:items-center max-[480px]:mb-[20px]" >
                    <img class="rounded-full w-[200px] mb-[10px] border-[8px] border-white mt-[60px] max-[480px]:mb-0 " src="{{ fotoPerfilAtual }}" >

                    <a class="flex items-center justify-center mt-[15px] hover:bg-[#6C63FF] hover:fill-white rounded-full w-[50px] h-[50px] max-[480px]:bg-[#6C63FF] max-[480px]:text-white max-[480px]:w-[80%] max-[480px]:gap-[15px]" href="{{url_for('editarPerfil')}}">
                        Editar Perfil
                        <svg class="w-[50%] max-[480px]:w-[20px] " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                    </a>
                </div>
                
                <div class="grid grid-cols-3 gap-[40px] w-full justify-between items-start max-[480px]:flex max-[480px]:flex-col max-[480px]:items-center max-[480px]:justify-center max-[480px]:text-center max-[480px]:gap-[20px]">
                    
                    <div>
                        <h4 class="capitalize text-[24px] font-bold max-[480px]:text-[20px]" >{{ current_user.username }}</h4>
                        <h5 class="text-[18px] max-[480px]:text-[16px]" >{{current_user.email }}</h5>
                        
                    </div>
                    <div class=" w-full">
                        <h2 class="mb-[10px] text-[24px] font-bold  max-[480px]:text-[20px]" >Área de Atuação</h2>
                        <h5 class="text-[17px] max-[480px]:text-[16px] max-[480px]:text-center">{{ current_user.areas }}</h5>
                        
                    </div>
                    <div class=" w-full">
                        <h2  class="mb-[10px] text-[24px] font-bold max-[480px]:text-[20px]" >Tecnologias</h2>
                        <div class="flex flex-row flex-wrap gap-[20px] max-[480px]:items-center">
                            {% for stack in current_user.stacks.split(';') %}
                                <h5 class="text-[18px] max-[480px]:text-[16px]">{{ stack }}</h5>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <section class="flex flex-col w-full pr-[10%] pl-[20%]  justify-center items-center max-[480px]:px-[10%]">
        <div class="flex flex-col w-[80%] mt-[250px] rounded-lg  justify-center max-[480px]:mt-[0] max-[480px]:w-full">
            <h1 class="mt-[30px] font-bold text-center text-[26px] font-bold mb-[30px] max-[480px]:text-[20px]">
                Suas Publicações
            </h1>
            <div class="grid grid-cols-3  justify-between items-start max-[480px]:flex max-[480px]:flex-col">
                {% for post in meus_posts %}
                <a  class="flex flex-col justify-center items-center w-full" href="{{ url_for('exibirPost', post_id=post.id) }}">
                
                    <div class="flex flex-col  w-[100%]  justify-center items-center mb-[30px]">
                                
                        <article class="flex border-b-2 border-[#AD42BB] h-fit pb-[50px] hover:scale-105 duration-150 flex-col  gap-[5px] w-[80%] max-[480px]:w-full max-[480px]:pb-[20px]  max-[480px]:hover:scale-100">
        
                            <div class="flex flex-row gap-[20px] mb-[15px] w-[100%] justify-between">
        
                                <div class="flex flex-row  items-center gap-[20px]"> 
                                    <img class="w-[50px] rounded-full" src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.fotoPerfil)) }}" >
                                    
                                    <div class="flex flex-col mt-[20px] max-[480px]:mt-0">
                                        <div class="max-[480px]:flex max-[480px]:items-start max-[480px]:justify-start max-[480px]:flex-col">
                                            <h4 class="text-[18px] font-bold capitalize" >{{ post.autor.username }}</h4>
                                            <h5 class="text-[17px] max-[480px]:text-[16px] max-[480px]:text-center">{{ post.autor.areas }}</h5>
                                            
                                        </div>
                                        <div >
                                            
                                            <div class="flex flex-row flex-wrap gap-[10px] w-[150%]">
                                                {% for stack in post.autor.stacks.split(';') %}
                                                    <h5 {{ stack }}</h5>
                                                {% endfor %}
            
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
        
                               
                            </div>
        
                            <div class="flex flex-col w-full justify-start gap-[20px] items-start">
                            
                                {% if post.fotoPost: %}
                                    <img class="w-full text-center rounded-md" src="{{ url_for('static', filename='fotos_posts/{}'.format(post.fotoPost)) }}" >
                                {% endif %}
                                <p class="w-full  text-[19px] text-left max-[480px]:text-[15px]" >{{ post.corpo }}</p>
                                <h6 class="w-full max-[480px]:text-[15px]">{{ post.dataCriacao.strftime('%d/%m/%Y')  }}</h6>

                            </div>
                            
                        </article>
                        
                        </div>
                </a>
                    
                {% endfor %}
            </div>
        </div>

    </section>
 </main>

{% endblock %}